section.servicioJPG{
    background-color: #fff;
}
.servicioJPGa{
    width: 90%;
    min-height: 136vw;
    padding: 100px;
    margin: auto;
    background-image: url(../../assets/img/servicios.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
body{
    background: #000;
}
@media screen and (min-width: 768px) {
    .servicioJPGa{
        width: 50%;
        min-height: 90vw;
    }
}
@media screen and (min-width: 1024px) {

}
@media screen and (min-width: 1440px) {
    
}
@media screen and (min-width: 2560px) {}